@charset "UTF-8";

.dropdown .nav-link {
  font-family: "PT Serif Caption", "Times New Roman", "serif";
  line-height: 1em;
}

.navbar-brand {
  font-family: "PT Serif Caption", "Times New Roman", "serif";
  line-height: 2.5em;

  & img {
    margin-top: -.2em;
  }
}

.nav-item .btn-application {
  margin-left: 1em;
  margin-top: .2em;
}

