@import '_colors.scss';

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

h1 {
    padding-top: .2em;
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 700;
    font-size: 5.5em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 3em;
    }
}

h2 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 2em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 1.5em;
    }
}

h3 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 2em;
    color: inherit;
    text-align: center;

    @media(max-width: 767px) {
        font-size: 1.5em;
    }
}

h4 {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: 400;
    font-size: 1.5em;
    color: inherit;
    text-align: left;

    @media(max-width: 767px) {
        font-size: 1.2em;
    }
}

p {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
    font-size: 1.2em;

    @media(max-width: 767px) {
        font-size: 1em;
    }
}

ul {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
    font-size: 1.2rem;
    @media(max-width: 767px) {
        font-size: 1em;
    }
}

.btn, .form-text, label, td{
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: normal;
}


th {
    font-family: "PT Serif Caption", "Times New Roman", "serif";
    font-weight: bold;
}

.numeric {
    text-align: right;
}

input {
    @include placeholder {
        color: $placeholder !important;
    }
}